In [1]:
import pymysql
import numpy as np
import pandas as pd
import pandas as pd
import os, json, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [2]:
filename = 'https://datasets.imdbws.com/title.basics.tsv.gz'
df = pd.read_csv(filename, sep='\t', low_memory=False)

df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# replacing \N
df = df.replace({'\\N':np.nan})

In [4]:
df= df.dropna(subset = ['runtimeMinutes','genres'])

In [5]:
df = df.loc[(df['startYear'] >= '2000')]

In [6]:
df['startYear'] = df['startYear'].astype(float)

In [7]:
# df.dropna(inplace = True)
# df.head(50)

In [8]:
df.titleType.value_counts()

tvEpisode       881528
short           480148
movie           221602
video           149638
tvSeries         62057
tvMovie          47630
tvSpecial        12398
tvMiniSeries     12367
tvShort           5721
videoGame          272
Name: titleType, dtype: int64

In [9]:
df.loc[(df['titleType'] == 'movie')]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,133,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
66336,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006.0,NaN,47,Documentary
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9511875,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9511959,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
9512000,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
9512027,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
9512059,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

In [10]:
is_documentary = df['genres'].str.contains('documentary',case=False)
df = df[~is_documentary]

In [11]:
file_2 = 'https://datasets.imdbws.com/title.akas.tsv.gz'
akas = pd.read_csv(file_2, sep='\t', low_memory=False)

In [12]:
akas = akas.replace({'\\N':np.nan})

In [13]:
akas.loc[(akas['region'] == 'US')]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
34486758,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
34486828,tt9916620,1,The Copeland Case,US,NaN,NaN,NaN,0
34486916,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
34486959,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
34486975,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [14]:
keepers =df['tconst'].isin(akas['titleId'])
keepers

33803       True
34617       True
34803       True
39545       True
43548       True
           ...
9512032     True
9512065     True
9512100    False
9512107     True
9512108    False
Name: tconst, Length: 1562954, dtype: bool

In [15]:
df = df[keepers]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33803,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
34617,tt0035235,short,Radio Dynamics,Radio Dynamics,0,2016.0,NaN,4,Short
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
39545,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
43548,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short
...,...,...,...,...,...,...,...,...,...
9511962,tt9916544,short,My Sweet Prince,My Sweet Prince,0,2019.0,NaN,12,"Drama,Short"
9511995,tt9916610,short,Private Eye,Private Eye,0,2019.0,NaN,22,"Drama,Mystery,Sci-Fi"
9512032,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015.0,NaN,66,Drama
9512065,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,NaN,43,"Family,Game-Show,Reality-TV"
9512107,tt9916856,short,The Wind,The Wind,0,2015.0,NaN,27,Short

In [16]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz']

In [17]:
df.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [18]:
df = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
1,tt0035235,short,Radio Dynamics,Radio Dynamics,0,2016.0,NaN,4,Short
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
3,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
4,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short

RATING

In [19]:
file_3 = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
Ratings = pd.read_csv(file_3, sep='\t', low_memory=False)

In [20]:
Ratings = Ratings.replace({'\\N':np.nan})

In [21]:
Ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1936
1  tt0000002            5.8       262
2  tt0000003            6.5      1760
3  tt0000004            5.6       177
4  tt0000005            6.2      2570

In [22]:
keeper =Ratings['tconst'].isin(akas['titleId'])
keeper

0           True
1           True
2           True
3           True
4           True
           ...
1265418    False
1265419    False
1265420     True
1265421     True
1265422    False
Name: tconst, Length: 1265423, dtype: bool

In [23]:
Ratings = Ratings[keeper]
Ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1936
1        tt0000002            5.8       262
2        tt0000003            6.5      1760
3        tt0000004            5.6       177
4        tt0000005            6.2      2570
...            ...            ...       ...
1265410  tt9916460            9.4        18
1265412  tt9916538            8.3         6
1265413  tt9916544            6.9        61
1265420  tt9916730            8.0         8
1265421  tt9916766            7.0        21

[949978 rows x 3 columns]

In [24]:
# converting files to gzip
akas.to_csv("Data/akas.csv.gz",compression='gzip',index=False)

In [25]:
Ratings.to_csv("Data/Ratings.csv.gz",compression='gzip',index=False)